/* Global Styles 
--------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 42px;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto; 
    padding: 60px 0;
}

.item-details h3 + p {
    font-style: italic;
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic; 
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 1px dashed #AFD5AA;

    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom: none; 
}

/* Profile
-------------------------- */

header {
    background-color: #7e7e85;
    color: #AFD5AA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}

.nav a {
    color: #AFD5AA;
    float: right; 
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
}

.nav a:hover {
    color:rgba(182, 64, 29, 0.8);
}

.nav a:active {
    color: white;
}




/* Projects
-------------------------- */

.projects {
    background: #dfcbd3;
}

.projects a {
    color: #E9CE2C;
}

.projects .btn {
    color: #F7FFF7;
    background: #7e7e85;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(182, 64, 29, 0.8);
}

.project-item {
    overflow: hidden;
}


.project-item h3 {
    margin-top: 0;
}
/* Work Experience
-------------------------- */

.work-experience {
    background: #AFD5AA;
}




/* MODAL CODE COPIED FROM: https://www.cssscript.com/simple-responsive-css-modal-dialog/
-------------------------- */

.modal-container {
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    width: 160px;
  }
  

  .modal-container button {
    display: block;
    margin: 0 auto;
    color: #F7FFF7;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background: #7e7e85;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
    transition: background 0.3s ease-in;
  }
  
  .modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in;
  }
  
  .modal-container #modal-toggle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }


  .modal-container #modal-toggle:hover ~ button { background: #202020; }

  .modal-container #modal-toggle:checked {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    opacity: 0;
  }
  
  .modal-container #modal-toggle:checked ~ .modal-backdrop {
    background-color: rgba(194, 194, 194, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    pointer-events: none;
    opacity: 1;
  }
  
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    height: 280px;
    padding: 10px 30px;
    position: absolute;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
  }
  @media (max-width: 400px) {
  
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content { left: 0; }
  }
  
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close {
    color: #666;
    position: absolute;
    right: 2px;
    top: 0;
    padding-top: 7px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 28px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button {
    top: initial;
    bottom: 20px;
    right: 20px;
    background: #dfcbd3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: normal;
  }
  
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button:hover {
    color: #fff;
    background: #666;
  }
  
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close:hover { color: #333; }
  

 



/* Education
-------------------------- */

.education {
    background-image: url(../images/sharon-mccutcheon-unsplash.jpg);
    background-size: cover;
    background-position: top right; 
    padding-bottom: 100px; 
}

.education p {
    width: 60%;
}

/* Contact Info
-------------------------- */

footer {
    background: #7e7e85;
    color: #AFD5AA;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block; 
    color: #AFD5AA;
}


/* Responsive
-------------------------- */

@media screen and (min-width: 750px) {
    header, footer {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .job-item {
        display: grid; 
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px; 
    }
    .nav a {
        padding: 5px;
    }
}