body {
    display: grid;
    grid-template-columns: 10px 2fr 10px;
    grid-template-rows: 1fr 1fr 20px;
    grid-gap: 20px; 
}


.img1 {
    transform: translate(100px, 200px) scale(2);
}

@keyframes scaleIn {
    0% {transform: scale(.2);}
    85% {transform:scale(1.1);}
    100% {transform:scale(1);}
}

h1 {
    animation-name: scaleIn;
    animation-duration: 2s;
}

/* ############ button ############ */

.button {
    background: orangered;
    border-bottom: none;
    border-radius: 4px;
    color: black;
    width: 20%;
    padding: 0.25rem 0.6rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    margin: auto; 
    transition: background 0.4s ease-in,
                transform .2s ease-out,
                border-style .3s ease-in;
}

.button:hover {
    background-color: pink;
    transform: scale(1.2);
    color:rebeccapurple;
    border-style: dashed;
  }


/* ############ (min-width: 700px) ############ */

@media screen and (min-width: 700px) {

    body {
        max-width: none;
        display: grid; 
        grid-template-columns: 15 em auto;
    }





}






/* ############ (min-width: 1000px) ############ */

@media screen and (min-width: 1000px) {

}














