body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10px;
    grid-template-rows: 1fr 1fr 20px;
    grid-gap: 20px; 
}



.image {
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
    animation-timing-function: ease-in;
}

@keyframes move {
    100% {
        transform: translateX(700%);
    }
}





@keyframes scaleIn {
    0% {transform: scale(.2);}
    85% {transform:scale(1.1);}
    100% {transform:scale(1);}
}

h1 {
    animation-name: scaleIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}


/* ############ typing animation ############ */

p {
    animation-name: typing 3s steps(19),
                    blinking 0.5s steps(1) infinite; 
}

@keyframes typing {
    0% {
        width:0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes blinking {
    0%, 100% {
        border-color: transparent;
    }
    100% {
        color:teal;
    }
}

/* ############ button ############ */

.button {
    background: orangered;
    border-bottom: none;
    border-radius: 4px;
    color: black;
    width: 20%;
    padding: 0.25rem 0.6rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    margin: auto; 
    transition: background 0.4s ease-in,
                transform .2s ease-out,
                border-style .3s ease-in;
}

.button:hover {
    background-color: pink;
    transform: scale(1.2);
    color:rebeccapurple;
    border-style: dashed;
  }


/* ############ cloud animation ############ */

.cloud01 {
    animation: float 25s linear infinite;
}

.cloud02 {
    animation: float 30s 5s linear infinite backwards; 
}


@keyframes float {
    0% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(820px);
    }
}
/* ############ flip animation  ############ */

h2 {
    font-size: 5em;
    font-weight:900;
    text-align: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}


@keyframes flip {
    0%, 100% {transform:rotateX(90deg) rotateZ(0deg);
    animation-timing-function: 1s;}
    50% {transform:rotateX(-180deg) rotateX(10deg);
    animation-timing-function: 1s;}
}

span {
    animation: flip 1s linear forwards;
}

/* ############ SVG Animation ############ */

#boo1 {
    animation: beat .8s linear, 
    fade 0.25s reverse both; 
}

#outline1 {
    animation: beat .8s linear, 
    fade 0.25s reverse both; 
}

.face {
    width: 100px;
    offset-path: path('M39.583,761.742c825.463,114.186,1935,189.305,1235.186-314.474C1026.544,266.83,787.142,120.766,564.178,38.743,332.3-24.131,24.523,129.364,197.486,331.225,454.193,629.749,758.274,811.749,1091.42,922.272');
    animation: fly 9s cubic-bezier(.22, 0, .76, 1) both;
}

@keyframes fly {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}


@keyframes beat {
    0% {
        transform: scale(0.1);
    }
    80% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* ############ dynamic animation  ############ */

:root {
    --dist: 0%;
    --scale: 2;
    --deg: 10deg;
}

p {
    animation: moveIn 2s linear both; 
    margin: 0.75rem 0;
}

@keyframes moveIn {
    0% {
        transform: translateX(-325%) scale(1) rotate(0deg);
    }
    100% {
        transform: translateX(var(--dist)) scale(var(--scale)) rotate(--deg);
    }
}

p:nth-of-type(1) {
    --scale: 1.5;
    --dist: 80%;
    --deg: 5deg;
    color: white;
    margin-bottom: 2rem;
}

p:nth-of-type(2) {
    --scale: 1.5;
    --dist: 30%;
    color:blue;
}

p:nth-of-type(3) {
    --deg: -5deg;
    --dist: 100%;
    color:green;
}

p:nth-of-type(4) {
    --scale: 1.9;
    --deg:15deg;
    color:red;
}

/* ############ (responsive) ############ */

@media screen and (min-width: 750px) {
    body {
        display: grid; 
        grid-template-rows: 1fr 20px;
        grid-template-columns: 1fr 1fr 1fr 10px;
    }
}



@media screen and (max-width: 749px) {
    body {
        display: grid; 
    }
}














